{% extends "eden-base.html" %}

{% block ie_hack %}
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
  <!--[if IE]>
  <script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script>
  <![endif]-->
{% endblock ie_hack %}

{% block title %}EDEN Timeseries Data{% endblock title %}

{% block script %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/dygraph-dev.js"></script>
{% endblock script %}

{% block style %}
<style>
{% for c in color_list %}
.color_{{ forloop.counter0 }} {
  color: {{ c }} !important; }
{% endfor %}
#hydrograph_form p {
  white-space: pre-wrap; }
#graph, #dynamic_legend, #data_selected {
  font-family: Verdana, Arial, Helvetica, sans-serif; }
#dynamic_legend, #data_selected, #hydrograph_legend {
  border: solid;
  padding: 5px;
  background-color: white; }
#data_selected span{
  font-size: 12px; }
</style>
{% endblock style %}

{% block content_header %}
  <h2>Explore and View EDEN (EVE)</h2>
  <p>EVE allows users to graph and download data for multiple gages and multiple parameters.</p>
{% endblock content_header %}

{% block content %}
<table id="content-block" style="width: 100%;" >
<tr>
<td>
	<form name="hydrograph_query" id="hydrograph_form" method="GET" action="">
	{# if method="POST", add this tag: {% csrf_token %} #}
		<div class="form_error">{{ query_form.non_field_errors }}</div>
		<div class="form_error">{{ query_form.field_errors }}</div>
		<table width="150" border="2" cellspacing="0" cellpadding="1" bgcolor="#4b7e83" align="left">
            <tr class="grtablehead">
                <th>Timeseries</th>
            </tr>
            <tr>
                <td align="left" class="gtablecell" valign="top">
                {{ query_form.timeseries_start.errors }}
                    <label for="{{ query_form.timeseries_start.html_name }}"><strong>Start: </strong></label>{{ query_form.timeseries_start }}<br />
                 {{ query_form.timeseries_end.errors }}
                    <label for="{{ query_form.timeseries_end.html_name }}"><strong>End: &nbsp;</strong></label>{{ query_form.timeseries_end }}<br />
                </td>
            </tr>
                      
            <tr class="grtablehead">
                <th><label for="{{ query_form.site_list.html_name }}">Site List</label></th>
            </tr>
            <tr class="gtablecell2">
                <td style="font-size: 75%;" align="center">Select multiple gages by<br>holding the control (PC)<br>or command (Mac) key.</td>
            </tr>
		    <tr>
                <td align="center" class="gtablecell">
				{{ query_form.site_list }}	
                </td>
            </tr>
		
		<tr>
            <td align="center" class="gtablecell2"><input name="hydrograph_query" type="submit" value="Update Graph" style="font-size: 18px; font-family: arial,helvetica,sans-serif;"></td>		
        </tr>
           
{% if plot_params %}
        <tr class="pwtablehead">
            <th></th>
        </tr>
        <tr class="pwtablehead">
            <th>Download</th>
        </tr>
        <tr class="pwtablehead">
            <th></th>
        </tr>
        <tr class="gtablecell2">
            <td style="font-size: 75%;" align="center">(for selected stations)</td>
        </tr>
        
		<tr>
            <td class="gtablecell" style="font-size: 80%;">
                <!-- TODO Disable the next if selection period is longer than a year -->
                - <a href="{% url dj_eden_app.views.data_views.hourly_download %}?{{ plot_params }}">Hourly Data</a><br />
                - <a href="{% url dj_eden_app.views.data_views.daily_download %}?{{ plot_params }}">Daily Averages</a><br />
                - <a href="{% url dj_eden_app.views.data_views.plot_image_auto %}?{{ plot_params }}">High-quality Graph</a><br />
            </td>
        </tr>
{% else %}
        <tr>
            <td>
                <p>After site selection and update, data download will be available here.</p>
            </td>
        </tr>
{% endif %}

		</table>
	</form>
	</td>
	
	<td style="vertical-align: top; ">
<div id="graph_and_legends" style="width: 75%; margin-left: 5px;">

{% if plot_params %}
	<div id="data_selected" style="float: left; width: 145px;">
	   <strong>Data Selected</strong>{% for g in gages %}
	       <br><span><a href='http://sofia.usgs.gov/eden/station.php?stn_name={{ g }}'>{{g}}</a> 1990&mdash;2013</span>
	   {% endfor %}
	   <p style="font-size: 9px;">Go to originating agency for<br>complete datasets for this gage.</p>
    </div>
	<div id="dynamic_legend" style="border: 2px white; width: 170px; float: left;">
	</div>
	<div id="hydrograph_legend" style="width: 240px; float: right; margin-bottom: 10px;">
	   <table>
	   {% for g in gages %}
	       <tr class="color_{{ forloop.counter0 }}"><td>&nbsp;&mdash;&mdash;&mdash;</td><td class="gtablecell">{{ g }}</td></tr>
	   {% endfor %}
        <!-- <tr><td colspan="2">&mdash;</td></tr> -->
        <tr><td><img src="{{ STATIC_URL }}images/line-solid.png" alt="solid line" /></td><td class="gtablecell">Observed data</td></tr>
        <tr><td><img src="{{ STATIC_URL }}images/line-dotted.png" alt="dotted line" /></td><td class="gtablecell">Estimated data</td></tr>
        <tr><td><img src="{{ STATIC_URL }}images/line-dashed.png" alt="dashed line" /></td><td class="gtablecell">Data in "dry" range</td></tr>
        </table>
	</div>
	<div id="graph" class="dygraph_plot" style="clear: right;">
	  <noscript>
	    <img id="eden_plot" src="{% url dj_eden_app.views.data_views.plot_image_auto %}?no_logo&{{ plot_params }}" />
	  </noscript>
	</div>
    </div> <!-- graph_and_legends -->
    </td>
    
    <tr>
    <td colspan="2">
	<p style="font-size: 75%; clear: left;">Tip: Left-click and drag in the plot to zoom.</p>
	<p style="font-size: 75%;">Tip: Option-click and drag in the plot to pan.</p>
	<p style="font-size: 75%;">Tip: To reset zoom to full selected period, double left-click in the plot.</p>
    </td>
    
    </tr>
    
    </table>
    <script type="text/javascript">
        var color_base = {{ colors }};

    function hex2rgb(hx) {
        var re = /^#(\w{2})(\w{2})(\w{2})$/;
        var bits = re.exec(hx);
        if (bits) {
            
            var r = parseInt(bits[1], 16);
            var g = parseInt(bits[2], 16);
            var b = parseInt(bits[3], 16);
            
            return {"r":r, "g":g, "b":b};
        } else {
            return null;
        }
    }
    
    function log(m) {
        try {
            console.log(m);
        } catch (e) {
            alert(m);
        }
    }
    
    function soften(hx, alpha) {
        var rgb = hex2rgb(hx);
        
        return "rgba("+rgb.r+","+ rgb.g+","+ rgb.b+","+ alpha+")";
    }
    
    
        var colors3 = [];
        var i;
        for (i = 0; i < color_base.length; i++) {
            // copy in triplicate to account for 3 lines per gage
            colors3.push(color_base[i]);
            // Soften color for next two entries to distinguish from observed data
            colors3.push(soften(color_base[i], 0.5));  
            colors3.push(soften(color_base[i], 0.5));
        }
        
    	var dateStart = "{{ str_tstart|safe }}";
    	var dateEnd = "{{ str_tend|safe }}";
    	var ngvd29Conversion = {{ ngvd29_correction }};
    	
    	var seriesOptions = {{ series_options }};
    	
    	// dry_elevation and ground_elevation line for single gage
    	var dryElevation = {{ dry_elevation }};
    	var groundElevation = {{ ground_elevation }};

    	
    	// note auto gear shift for daily/hourly
    	
         var g2 = new Dygraph(
           document.getElementById("graph"),
           "{% url dj_eden_app.views.data_views.plot_data_auto %}?{{ plot_params }}",
           {
            ylabel: "Water Level (NAVD88 ft)",
            xlabel: "Date",
            y2label: "Water Level (NGVD29 ft)",
            yAxisLabelWidth: 60,
            strokeWidth: 1.0,
            colors: colors3,
            drawCallback: function(dygraph, isInitial) {
    			if (isInitial) {
                   xRange = dygraph.xAxisExtremes();
                   log("x range is " + xRange);
                   
    			   if (! (ngvd29Conversion === null)) {
    			     labels = dygraph.getLabels();
    			     labelToMove = labels[3];
        			 log("series: " + labelToMove);
    			     yrange = dygraph.yAxisRange();
    			     //resize(100, 100);
    			     yrange[0] -= ngvd29Conversion;
    			     yrange[1] -= ngvd29Conversion;
    			     
    			     newOptions = { 
    			         axes: {y2: { valueRange: yrange} } 
    			     };
    			     newOptions[labelToMove] = {axis: 1};

    			     log("new options " + newOptions);
    			     dygraph.updateOptions(newOptions);
    			     props = dygraph.getPropertiesForSeries(labelToMove);
    			     log(labelToMove + " on axis " + props['axis']);
    		       }
                   // dygraph.resize();
    	       }
            },
 			series: seriesOptions,
 				
            // options for dynamic legend
            // hideOverlayOnMouseOut: false,
            // legend: 'always',
            labelsDiv: 'dynamic_legend',
                
            // range selector (overview graph)
{% if DYGRAPH_RANGE_SELECTOR %}
                showRangeSelector: true,
                interactionModel: Dygraph.defaultInteractionModel,
{% endif %}

            {% if str_tstart != None and str_tend != None %}
            dateWindow: [ Date.parse( dateStart ),
                          Date.parse( dateEnd )
                         ],
            {% else %}
            // dateWindow: computeDateLimits(),
            {% endif %}
            
            highlightCallback: function(event, x, points, row, seriesName) {
                log("highlight " + points);
                
                g2.clearSelection();
                var sn = points[0].name;
                log("set selection to row " + row + ", series " + sn);
                g2.setSelection(row,sn);
            },
            
            underlayCallback: function(canvas, area, g) {
              if (dryElevation != null) {
                var top_right = g.toDomCoords(0, dryElevation);

                var top = top_right[1];

                canvas.fillStyle = "rgba(128, 128, 128, 0.5)";
                canvas.fillRect(area.x, top, area.w, 4);
              }
              
              if (groundElevation != null) {
                var top_right = g.toDomCoords(0, groundElevation);

                var top = top_right[1];

                canvas.fillStyle = "brown";
                canvas.fillRect(area.x, top, area.w, 4);
              }
            },
            // labelsDiv: document.getElementById('hydrograph_legend'),
            labelsSeparateLines: true,
            // legend: 'always',
            
            drawPoints: true   // Look, no trailing comma; make IE happy.
           }          // options
         );
                  
         // Get size of div#graph 
         var graphdiv = document.getElementById("graph");
         var div_width = graphdiv.clientWidth;
         var div_height = graphdiv.clientHeight;
         
         // g2.resize(div_width/2,div_height/2);
         // g2.resize();
         
         function fire_resize_event() {
            var event;
            if (document.createEvent) {
                event = document.createEvent("HTMLEvents");
                event.initEvent("resize", true, true);
            } else {
                event = document.createEventObject();
                event.eventType = "resize";
            }

            event.eventName = "resize";
            event.memo = { };

            var element = document.body;
            if (document.createEvent) {
                element.dispatchEvent(event);
            } else {
                element.fireEvent("on" + event.eventType, event);
            }
         }
         
    </script>

{% else %}
     <p>After site selection, a graph will be displayed here.</p>
</div>
{% endif %}
{% endblock content %}

{% block trailer %}
<script type="text/javascript">
   // g2.resize();
   // fire_resize_event();
</script>
{% endblock trailer %}
