{% extends "eden-base.html" %}

{% block ie_hack %}
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <!--[if IE]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script>
    <![endif]-->
{% endblock ie_hack %}

{% block title %}EDEN Multi-parameter Data{% endblock title %}

{% block content_header %} <h2>Exploring and Viewing EDEN (EVE)</h2> {% endblock content_header %}

{% block script %}
	<script type="text/javascript"
	  src="{{ STATIC_URL }}js/dygraph-combined.js"></script>
{% endblock script %}

{% block style %}
<style type="text/css">

{% for c in color_list %}
.color_{{ forloop.counter0 }} { color: {{ c }} !important; }
{% endfor %}

.grtableerr {
background-color: white;
color: red;
}
#param_form ul {
 list-style-type: none;
 display: inline-block;
}
#param_form p {
 white-space: pre-wrap;
 }
 
</style>
{% endblock style %}

{% block content %}
<div style="white-space: nowrap;" id="content-block">
<div class="form_input_field" style="vertical-align: top; display: inline-block; ">
	<form name="param_query" id="param_form" method="GET" action="">{% csrf_token %}
		{{ param_form.non_field_errors }}
		{{ param_form.field_errors }}
		<table width="150"  border="2" cellspacing="0" cellpadding="1" bgcolor="#4b7e83" align="left">
		<tbody>
            <tr class="grtablehead">
                <th>Data</th>
            </tr>
            <tr>
                <td align="left" class="gtablecell" valign="top">
                    <label for="{{ param_form.timeseries_start.html_name }}"><strong>Start: </strong></label>{{ param_form.timeseries_start }}<br />
                    <label for="{{ param_form.timeseries_end.html_name }}"><strong>End: </strong></label>{{ param_form.timeseries_end }}<br />
                </td>
            </tr>
                      
            <tr class="grtablehead">
                <th><label for="{{ param_form.site_list.html_name }}">Site List</label></th>
            </tr>
            <tr class="gtablecell2">
                <td style="font-size: 75%;" align="center">Select a single gage and parameters to view.</td>
            </tr>
{% if param_form.site_list.errors %}
            <tr>
                <td class="grtableerr">
                    {{ param_form.site_list.errors }}
                </td>
            </tr>
{% endif %}
		    <tr>
                <td align="center" class="gtablecell">
				{{ param_form.site_list }}	
                </td>
            </tr>
            <tr class="grtablehead">
                <th><label for="{{ param_form.params.html_name }}">Parameter Selection</label></th>
            </tr>
{% if param_form.params.errors %}
        <tr>
            <td class="grtableerr">
          {{ param_form.params.errors }}
         </td>
         </tr>
{% endif %}
		<tr>
		  <td class="gtablecell">
		  {{ param_form.params }}
		  </td>
		</tr>
            <tr><th></th></tr>
		<tr>
            <td align="center" class="gtablecell2"><input name="hydrograph_query" type="submit" value="Update Graph" style="font-size: 18px; font-family: arial,helvetica,sans-serif;"></td>		
        </tr>
           
{% if plot_params %}
        <tr class="pwtablehead">
            <th></th>
        </tr>
        <tr class="pwtablehead">
            <th>Download</th>
        </tr>
        <tr class="pwtablehead">
            <th></th>
        </tr>
        <tr class="gtablecell2">
            <td style="font-size: 75%;" align="center">(for stations selected above)</td>
        </tr>
        
		<tr>
            <td class="gtablecell">
                - <a href="{% url dj_eden_app.views.data_views.param_data_download %}?{{ plot_params }}">Data</a><br />
            </td>
        </tr>
{% else %}
        <tr>
            <td>
                <p>After site selection and update, data download will be available here.</p>
            </td>
        </tr>
{% endif %}

		</table>
    <input type="hidden" id="start_date" name="start_varible" value="{{ str_tstart|safe }}" readonly>
    <input type="hidden" id="end_date" name="start_varible" value="{{ str_tend|safe }}" readonly>
    <input type="hidden" id="date_delta" name="date_diff" value="{{ time_delta|safe }}" readonly>
    <input type="hidden" id="ngvd29_series" name="ngvd29_name" value="{{ ngvd29_series|safe }}" readonly>
	</form>
</div>

<div style="display: inline-block; margin-left: 10px; ">
{% if plot_params %}
    <div id="legends">
	<div id="hydrograph_legend" style="border:solid; width: 300px; display:inline-block;">
	   <table>
	   {% for g in gages %}
	       <tr class="color_{{ forloop.counter0 }}"><td>&nbsp;&mdash;&mdash;&mdash;</td><td>{{ g }}</td></tr>
	   {% endfor %}
        <!-- <tr><td colspan="2">&mdash;</td></tr> -->
        <tr><td><img src="{{ STATIC_URL }}images/line-solid.png" alt="solid line" /></td><td>Observed data</td></tr>
        <tr><td><img src="{{ STATIC_URL }}images/line-dotted.png" alt="dotted line" /></td><td>Estimated data</td></tr>
        <tr><td><img src="{{ STATIC_URL }}images/line-dashed.png" alt="dashed line" /></td><td>Data in "dry" range</td></tr>
        </table>
    </div>
    <div id="dynamic_legend" style="border: 2px white solid; width: 200px; vertical-align: top; display:inline-block;">
    </div>
    </div>
    
	<div id="graph">
	<noscript>
	    <img id="eden_plot" src="{% url dj_eden_app.views.data_views.plot_image_auto %}?no_logo&{{ plot_params }}" />
	</noscript>
	</div>

{% if not DYGRAPH_RANGE_SELECTOR %}
	<p style="font-size: 75%;">Tip: Left-click and drag in the plot to zoom.</p>
	<p style="font-size: 75%;">Tip: To reset zoom to full selected period, double left-click in the plot.</p>
{% endif %}

    <script type="text/javascript">

    function hex2rgb(hx) {
        var re = /^#(\w{2})(\w{2})(\w{2})$/;
        var bits = re.exec(hx);
        if (bits) {
            
            var r = parseInt(bits[1], 16);
            var g = parseInt(bits[2], 16);
            var b = parseInt(bits[3], 16);
            
            return {"r":r, "g":g, "b":b};
        } else {
            return null;
        }
    }
    
    function soften(hx, alpha) {
        var rgb = hex2rgb(hx);
        
        return "rgba("+rgb.r+","+ rgb.g+","+ rgb.b+","+ alpha+")";
    }
    
    
         var g2 = new Dygraph(
           document.getElementById("graph"),
           "{% url dj_eden_app.views.data_views.plot_data_multiparam %}?{{ plot_params }}",
           {
            ylabel: "parameter goes here",
            xlabel: "Date",
            y2label: "parameter gos here",
            yAxisLabelWidth: 60,
            strokeWidth: 1.0,
            // colors: colors3,
 				//series: seriesOptions,
 				
            // options for dynamic legend
                // hideOverlayOnMouseOut: false,
                // legend: 'always',
                // labelsDiv: 'dynamic_legend',
                
            // range selector (overview graph)
{% if DYGRAPH_RANGE_SELECTOR %}
                showRangeSelector: true,
{% endif %}

            {% if str_tstart != None and str_tend != None %}
            dateWindow: [ Date.parse( dateStart ),
                          Date.parse( dateEnd )
                         ],
            {% endif %}
            // labelsDiv: document.getElementById('hydrograph_legend'),
            labelsSeparateLines: true,
            // legend: 'always',
            
            drawPoints: true   // Look, no trailing comma; make IE happy.
           }          // options
         );
                  
    </script>

{% else %}
	   <p>After site selection, a graph will be displayed here.</p>
{% endif %}

</div>
{% endblock content %}