{% extends "base.html" %}

{% block title %}EDEN Timeseries Data{% endblock title %}

{% block content_header %} <h2>Exploring and Visualizing EDEN (EVE)</h2> {% endblock content_header %}

{% block script %}
	<script type="text/javascript"
	  src="{{ STATIC_URL }}js/dygraph-combined.js"></script>
{% endblock script %}

{% block content %}
  
<div class="form_input_field">
	<form name="hydrograph_query" id=hydrograph_form method="GET" action="">{% csrf_token %}
		{{ query_form.non_field_errors }}
		{{ query_form.field_errors }}
		<table>
			<tr>
				<p><label for="{{ query_form.timeseries_start.html_name }}"><b>Timeseries Start: </b></label>{{ query_form.timeseries_start }}</p>
			</tr>
			<tr>
				<p><label for="{{ query_form.timeseries_end.html_name }}"><b>Timeseries end: </b></label>{{ query_form.timeseries_end }}</p>
			</tr>
			<tr>
				<p><label for="{{ query_form.site_list.html_name }}"><b>Site List: </b></label>{{ query_form.site_list }}</p>
			</tr>
			
			<tr>
				<td>
					<input name="hydrograph_query" type="submit" value="Update">	
				</td>
		
				<td>
{% if plot_params %}
				    <a href="{% url dj_eden_app.views.data_views.timeseries_csv_download %}?{{ plot_params }}">Download Data</a>
                    <a href="{% url dj_eden_app.views.data_views.daily_download %}?{{ plot_params }}">Download Daily Data</a>
                    <!-- TODO Diabled the next if selection period is longer than a year -->
                    <a href="{% url dj_eden_app.views.data_views.hourly_download %}?{{ plot_params }}">Download Hourly Data</a>
{% else %}
                    <button type="button" disabled="true">Download Data</button>
{% endif %}
				</td>
			
			</tr>
		</table>
	</form>
</div>

{% if plot_params %}
<h2>Dynamic Graph</h2>
	<div id="hydrograph_label"></div>

	<div id="graph">
	<noscript>
	    <img id="eden_plot" src="{% url dj_eden_app.views.data_views.plot_image_auto %}?{{ plot_params }}&max_count=600" />
	</noscript>
	</div>
	
	<input type="hidden" id="start_date" name="start_varible" value="{{ str_tstart|safe }}" readonly>
	<input type="hidden" id="end_date" name="start_varible" value="{{ str_tend|safe }}" readonly>
	
	<!-- used django html tag to deal with cases where user does not specify a date range -->
    <script type="text/javascript">
        var spectral_24 = [
"#000000",
"#670075",
"#830094",
"#3800a3",
"#0000c1",
"#0025dd",
"#007ddd",
"#009adb",
"#00aaab",
"#00aa8d",
"#009e28",
"#00ac00",
"#00ca00",
"#00e700",
"#1dff00",
"#bcff00",
"#ecef00",
"#fcd200",
"#ffa900",
"#ff4500",
"#f10000",
"#d80000",
"#cc1c1c",
"#cccccc"
];

    function hex2rgb(hx) {
        var re = /^#(\w{2})(\w{2})(\w{2})$/;
        var bits = re.exec(hx);
        if (bits) {
            
            var r = parseInt(bits[1], 16);
            var g = parseInt(bits[2], 16);
            var b = parseInt(bits[3], 16);
            
            return {"r":r, "g":g, "b":b};
        } else {
            return null;
        }
    }
    
    function soften(hx, alpha) {
        var rgb = hex2rgb(hx);
        
        return "rgba("+rgb.r+","+ rgb.g+","+ rgb.b+","+ alpha+")";
    }
    
    
        var colors3 = [];
        var i;
        for (i = 0; i < spectral_24.length; i++) {
            // copy in triplicate to account for 3 lines per gage
            colors3.push(spectral_24[i]);
            // Soften color for next two entries to distinguish from observed data
            colors3.push(soften(spectral_24[i], 0.5));  
            colors3.push(soften(spectral_24[i], 0.5));
        }
    	var dateStart = document.getElementById("start_date").value;
    	var dateEnd = document.getElementById("end_date").value;
    	
    	var seriesOptions = {{ series_options }};
    	
    	// TODO dry_elevation and ground_elevation line for single gage
    	
    	// TODO auto gear shift for daily/hourly?
    	
         var g2 = new Dygraph(
           document.getElementById("graph"),
           "{% url dj_eden_app.views.data_views.plot_data_daily %}?{{ plot_params }}",
           {
            ylabel: "Water Level (NAVD88 ft)",
            xlabel: "Date",
            strokeWidth: 1.0,
            colors: colors3,
            series: seriesOptions,
            
            // TODO construct & display legend
            
            {% if str_tstart != None and str_tend != None %}
            dateWindow: [ Date.parse( dateStart ),
                          Date.parse( dateEnd )
                         ],
            {% endif %}
            drawPoints: true   // Look, no trailing comma; make IE happy.
           }          // options
         );
    </script>

<h2>Server-generated Image</h2>

        <img id="eden_plot" src="{% url dj_eden_app.views.data_views.plot_image_auto %}?{{ plot_params }}&max_count=600" />
        
<h2>Data Download</h2>

	<a href="{% url dj_eden_app.views.data_views.timeseries_csv_download %}?{{ plot_params }}">Download Data</a>
	
{% else %}
	   <p>Graph will be here.</p>
{% endif %}


{% endblock content %}