{% extends "base.html" %}

{% block title %}EDEN Timeseries Data{% endblock title %}

{% block content_header %} <h2>Exploring and Visualizing EDEN (EVE)</h2> {% endblock content_header %}

{% block script %}
	<script type="text/javascript"
	  src="{{ STATIC_URL }}js/dygraph-combined.js"></script>
	  
	<script type="text/javascript" src="{{ STATIC_URL }}js/dygraph-extra.js"></script>

{% endblock script %}

{% block content %}
  
<div class="form_input_field">
	<form name="hydrograph_query" id=hydrograph_form method="GET" action=".">{% csrf_token %}
		{{ query_form.non_field_errors }}
		{{ query_form.field_errors }}
		<table>
			<tr>
				<p><label for="{{ query_form.timeseries_start.html_name }}"><b>Timeseries Start: </b></label>{{ query_form.timeseries_start }}</p>
			</tr>
			<tr>
				<p><label for="{{ query_form.timeseries_end.html_name }}"><b>Timeseries end: </b></label>{{ query_form.timeseries_end }}</p>
			</tr>
			<tr>
				<p><label for="{{ query_form.site_list.html_name }}"><b>Site List: </b></label>{{ query_form.site_list }}</p>
			</tr>
			
			<tr>
				<td>
					<input name="hydrograph_query" type="submit" value="Update">	
				</td>
		
				<td>
{% if plot_params %}
				    <a href="{% url dj_eden_app.views.timeseries_csv_download %}?{{ plot_params }}">Download Data</a>
{% else %}
                    <button type="button" disabled="true">Download Data</button>
{% endif %}
				</td>
			
			</tr>
		</table>
	</form>
</div>

{% if plot_params %}
<h2>Dynamic Graph</h2>
	<div id="hydrograph_label"></div>

	<div id="graph">
	<noscript>
	    <img id="eden_plot" src="{% url dj_eden_app.views.plot_image %}?{{ plot_params }}&max_count=600" />
	</noscript>
	</div>
	
    <script type="text/javascript">
         var g2 = new Dygraph(
           document.getElementById("graph"),
           "{% url dj_eden_app.views.plot_data %}?{{ plot_params }}&max_count=100",
           {
            ylabel: "Water Level (ft)",
            xlabel: "Date",
            drawPoints: true,
            strokeWidth: 0.0
           }          // options
         );
    </script>

<h2>Server-generated Image</h2>

        <img id="eden_plot" src="{% url dj_eden_app.views.plot_image %}?{{ plot_params }}&max_count=600" />
        
<h2>Data Download</h2>

	<a href="{% url dj_eden_app.views.timeseries_csv_download %}?{{ plot_params }}">Download Data</a>
	
{% else %}
	   <p>Graph will be here.</p>
{% endif %}


{% endblock content %}