<!--Navigation-->
                    <table border="0" cellpadding="1" cellspacing="1" width="100%" bgcolor="#bdbdbd">
                        <tr>
                            <td class="rightnavbuttonheadercurrent" bgcolor="#ebcf8c">Home</td>
                        </tr>
                        <tr>
                            <td bgcolor="#4b7e83" class="rightnavbuttonheader">Data</td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}stationlist.php">Water Levels (Gage)</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}models/watersurfacemod.php">Water Surfaces</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}models/water_depth.php">Water Depth</a></td>
                        </tr>
                        <tr>
                                <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}models/groundelevmod.php">Ground Elevation (<abbr title="Digital Elevation Model">DEM</abbr>)</a></td>
                            </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}models/edengrid.php">EDEN Grid</a></td>
                        </tr>
                        <tr height="3">
                            <td bgcolor="#8eaf9b" height="3"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}coastal.php">Coastal EDEN</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}water_level_percentiles_map.php">Daily Water Level Percentiles by Month</a></td>
                        </tr>
                        <tr height="3">
                            <td bgcolor="#8eaf9b" height="3"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}meteorologic.php">Meteorologic</a></td>
                        </tr>
                                                <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}benchmarks">Benchmarks</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#4b7e83" class="rightnavbuttonheader">EDENapps</td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}edenapps/index.php">Introduction</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}edenapps/dataviewer.php">DataViewer</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}edenapps/xylocator.php"><abbr title="x y">xy</abbr>Locator </a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}edenapps/transectplotter.php">TransectPlotter</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><abbr title="Depth and Days Since Dry"><a href="{{ EDEN_URL }}edenapps/depth-dayssincedry.php">Depth&amp;DaysSinceDry</a></abbr></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}edenapps/gridtonetcdf.php"><abbr title="Grid to Net C D F">GridtoNetCDF</abbr></a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><abbr title="Net C D F to Grid"><a href="{{ EDEN_URL }}edenapps/netcdftogrid.php">NetCDFtoGrid</a></abbr></td>
                        </tr>
                        <!--End EDEN Tools-->
<!--App for CERP -->
                        <tr>
                            <td bgcolor="#4b7e83" class="rightnavbuttonheader">Information</td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}abouteden.php">Learn About EDEN</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}publications.php">Publications</a></td>
                        </tr>
                            <tr>
                                <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}newsletter.php">Newsletter</a></td>
                            </tr>
                            <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}personnel.php">EDEN Personnel</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#f4e1b4" class="rightnavbutton"><a href="{{ EDEN_URL }}contacts.php">Contacts</a></td>
                        </tr>
                        <tr height="3">
                            <td bgcolor="#477489" height="3"></td>
                        </tr>
                    </table>
                    <!--end navigation -->